# Data Types

Explore integers, floats, booleans, and strings.

## Introduction

Whenever you create a variable in Python, it has a value with a corresponding data types. 
There are many different data types, such as integers, floats, booleans, and strings, all of which we'll cover in this lesson. (This is just a small subset of the available data types -- there are also dictionaries, sets, lists, tuples, and much more.)

Data types are important, because they datermine what kinds of actions you can do with them.
For instance, you can divide two floats, but you cannot divide two strings.
For instance, 12.0/2.0 makes sense, but "cat"/"dog" does not.

To avoid errors, we need to make sure that the actions match the data types that we have.

訳）Pythonで変数を作成すると、対応するデータ型を持つ値が割り当てられます。
整数、浮動小数点数、真偽値、文字列といった異なるデータ型があり、このすべてはこのレッスンで学びます。（これは利用できるデータ型の一部に過ぎず、他にも辞書、集合、リスト、タプルなどが存在します。）

データ型は重要です。なぜならそのデータで同様な操作が可能かを決めるからです。
例えば、2つの浮動小数点数は割り算できるが、2つの文字列はできないです。
例えば、12.0/2.0は計算できるが、"cat"/"dog"は意味を成さないです。

エラーを避けるために、行いたい操作が手元のデータ型と一致していることを確認する必要があります。

## Integers

Integers are numbers without any fractional part and can be positive (1, 2, 3, …), negative (-1, -2, -3, …), or zero (0).

In the code cell below, we set a variable x to an integer. We then verify the data type with type(), and need only pass the variable name into the parentheses.

訳）整数は小数部分を持たない数で、正の整数と負の整数とゼロが含まれます。

下のコードセルでは、変数ⅹを整数に設定します。type()でデータ型を確認し、括弧内は変数名を渡すだけで十分です。

In [1]:
x = 14
print(x)
print(type(x))

14
<class 'int'>

In the output above, <class 'int'> refer to the integer data type.

訳）上の出力は、<class 'int'>は整数のデータ型を指しています。

## Floats

Floats are numbers with fractional parts. They can have many numbers after decimal.

訳）浮動小数点数は小数を持つ数です。小数点以下に多くの桁を持つことができます。

In [2]:
nearly_pi = 3.141592653589793238462643383279502884197169399375105820974944
print(nearly_pi)
print(type(nearly_pi))

3.141592653589793
<class 'float'>

We can also specify a float with a fraction.

訳）分数表記でも浮動小数点数を指定できます。

In [3]:
almost_pi = 22/7
print(almost_pi)
print(type(almost_pi))

3.142857142857143
<class 'float'>

One function that is particularly useful for fractions is the round() function. It lets you round a number to a specified number of decimal places.

訳）小数で特に役立つ関数の1つがround()関数です。小数桁数を指定することで数を丸めることができます。

In [4]:
# Round to 5 decimal places.
rounded_pi = round(almost_pi,5)
print(rounded_pi)
print(type(rounded_pi))

3.14286
<class 'float'>

Whenever you write an number with a decimal point, Python recognizes it as a float data type.

For instance, 1. (or 1.0, 1.00, etc) will be recognized as a float. This is the case, even though these numbers technically have no fractional part!

訳）数字に小数点を記述することで、Pythonは浮動小数点数として認識します。

例えば、1.(もしくは1.0, 1.00など)は浮動小数点数として認識されます。技術的には小数部分がないに数字でも、この扱いは変わらないです。

In [5]:
y_float = 1.
print(y_float)
print(type(y_float))

1.0
<class 'float'>

## Booleans

Booleans represent one of two values: True or False. In the code cell bellow, z_one is set a boolean with value True.

訳）真偽値は2値(TrueもしくはFalse)のいずれかが表されます。下のコードセルでは、z_oneはTrueという真偽値が設定されています。

In [6]:
z_one = True
print(z_one)
print(type(z_one))

True
<class 'bool'>

Next, z_two is set to a boolean with value False.

訳）次のz_twoはFalseという真偽値が設定されています。

In [8]:
z_two = False
print(z_two)
print(type(z_two))

False
<class 'bool'>

Booleans are used to represent the truth value of an expression. Since 1 < 2 is a true statement, z_three takes on a value of True.

訳）真偽値は式の真偽値を表記するためにも利用されます。1 < 2 は真なので、この場合z_threeはTrueになります。

In [9]:
z_three = (1 < 2)
print(z_three)
print(type(z_three))

True
<class 'bool'>

Similarly, since 5 < 3 is a false statement, z_four takes on a value of False.

訳）同様に、5 < 3 は偽なので、この場合z_fourはFalseになります。

In [10]:
z_four = (5 < 3)
print(z_four)
print(type(z_four))

False
<class 'bool'>

We can switch the value of a boolean by using not. So, not True is equivalent to False, and not False becomes True.

訳）notを用いることで真偽値の値を反転することができます。従って、not True はFalseと同じ意味になり、not False はTureになります。

In [11]:
z_five = not z_four
print(z_five)
print(type(z_five))

True
<class 'bool'>

Booleans will be important in the next lesson, when you learn about conditions and conditional statements.

訳）真偽値は条件や条件分岐について学ぶ次のレッスンで重要になります。

## Strings

The string data type is a collection of characters (like alphabet letters, punctuation, numerical digits, or symbols) contained in quotation marks.
Strings are commonly used to represent text.

訳）文字列型は引用符で囲まれた文字（アルファベット、句読点、数値、記号など）の集まりです。
文字列はテキスト表記するために一般的に使用されます。

In [12]:
w = "Hello, Python!"
print(w)
print(type(w))

Hello, Python!
<class 'str'>

You can get the length of a string with len(). "Hello, Python!" has length 14, because it has 14 characters, including the space, comma, and exlamation mark.
Note that the quotation marks are not included when calculation the length.

訳）len()を用いることで文字列の長さを取得できます。"Hello, Python!"は空白、コンマ、感嘆符を含む14の文字を持ちます。
文字列の長さを計算する際は引用符は含まれないです。

In [13]:
print(len(w))

14

One special type of string is the empty string, which has length zero.

訳）空文字列と呼ばれる特別な種類のデータ型があり、これは長さが0です。

In [ ]:
shortest_string = ""
print(type(shortest_string))
print(len(shortest_string))

<class 'str'>
1

If you put a number in quotation marks, it has a string data type.

訳）数字を引用符で囲む場合、それは文字列型になります。

In [15]:
my_number = "1.12321"
print(my_number)
print(type(my_number))

1.12321
<class 'str'>

If we have a string that is converrible to a float, we can use float().

This won't always work! For instance, we can convert "10.43430" and "3" to floats, but we cannot convert "Hello, Python!" to a float.

訳）浮動小数点数に変換可能な文字列であれば、float()を使って変換できます。
これはいつも変換できるわけではないです。例えば、"10.43430"や"3"は浮動小数点数に変換できますが、"Hello, Python!"は変換できないです。

In [16]:
also_my_number = float(my_number)
print(also_my_number)
print(type(also_my_number))

1.12321
<class 'float'>

Just like you can add two numbers (floats or integers), you can also add two strings.
It results in a longer string that combines the two original strings by concatenating them.

訳）2つの数字（浮動小数点数や整数）を足し算できるように、2つの文字列も連結することができます。
元の2つの文字列を連結することでより長い文字列が作られます。

In [17]:
new_string = "abc" + "def"
print(new_string)
print(type(new_string))

abcdef
<class 'str'>

Note that it's not possible to do subtraction or division with two strings. 
You also can't multiply two strings, but you can multiply a string by an integer.
This again results in a string that's just the original string concatenated with itself a specified number of times.

訳）2つ文字列同士で引き算や割り算することはできないです。
2つの文字列を掛け算することはできませんが、整数を用いることで掛け算が可能です。
これは元の文字列を指定した回数、繰り返し結合した文字列になります。

In [1]:
newset_string = "abc" * 3
print(newset_string)
print(type(newset_string))

abcabcabc
<class 'str'>

Note that you cannot multiply a string by a float!
Trying to do so will return an error.

訳）浮動小数点数を用いて文字列の掛け算することはできません。
そのように実行しようとするとエラーが発生します。

In [2]:
will_not_work = "abc" * 3.

TypeError: can't multiply sequence by non-int of type 'float'

In the error, "squence" is the string "abc" , and the "non-int of type 'float'" is the float(3.).
So, the error message can be reworded to say "can't multiply string by float".

訳）このエラーは、"squence"が文字列"abc"を意味し、"non-int of type 'float'"がfloat(3.0)を指しています。
つまり、このエラーメッセージは"文字列を浮動小数点数で掛け算することはできない"という内容だと言い換えられます。