# Intro to Lists

Organize you data so you can work it efficiently.

## Introduction

When doing data science, you need a way to organize your data so you can work with it efficiently.
Python has many data structures available for holding your data, such as lists, sets, dictionaries, and tuples.
In this tutorial, you will learn how to work with Python lists.

訳）データサイエンスを行う際は、データを効率的に扱うために整理する方法が必要です。
Pythonではリストや集合、辞書、タプルといったデータを保持することが可能なたくさんのデータ構造が用意されています。
このチュートリアルでは、Pythonのリストの扱い方を学びます。

## Motivation

In the Petal to the Metal competition, your goal is to classify the species of a flower based only on its image.
(This is a common task in computer vision, and it is called image classification.)
Towards this goal, say you organize the names of the flower species in the data.

One way to do this is by organizing the names in a Python string.

訳）the Petal to the Metalコンペティションでは、花の画像だけをもとに種類を分類することが目的です。
（これはコンピュータビジョンにおける一般的な課題で、画像分類と呼ばれます。）
この目的のために、データ内で花の種類の名前を整理するとします。

その方法の1つは、Pythonの文字列として名前を整理することです。

In [1]:
flowers = "pink primrose, hard-leaved pocket orchid, canterbury bells, sweet pea, english marigold, tiger lily, moon orchid, bird of paradise, monkshood, globe thistle"
print(type(flowers))
print(flowers)

<class 'str'>
pink primrose, hard-leaved pocket orchid, canterbury bells, sweet pea, english marigold, tiger lily, moon orchid, bird of paradise, monkshood, globe thistle

Even better is to represent the same data in a Python list.
To create a list, you need to use square brackets([ , ]) and separate each item with a comma.
Every item in the list is a Python string, so each is enclosed in quotation marks.

訳）さらに良いのは、同じデータをPythonのリストで表現することです。
リストを作成するために、角括弧を使い、各項目をコンマで区切ります。
リストの全ての項目はPythonの文字列なので、いずれも引用符で囲みます。

In [3]:
flowers_list = ["pink_primrose", "hard-leaved pocket orchid", "canterbury bells", "sweet pea", "english marigold",
                "tiger lily", "moon orchid", "bird of paradise", "monkshood", "globe thistle"]
print(type(flowers_list))
print(flowers_list)

<class 'list'>
['pink_primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'globe thistle']

At first glance, it doesn't look too different, whether you represent the information in a Python string or list.
But as you will see, there are a lot of tasks that you can more easilly do with a list.
For instance, a list will make it easier to:
- get an item at a specified position (first, second, third, etc),
- check the number of items, and
- add and remove items.

訳）情報をPythonの文字列もしくはリストと表現するかは、一見するとあまり違いがないように見える。
しかし実際には、リストがより簡単にできる作業がたくさんあります。
例えば、リストを使うと次のことが簡単になります。
- 指定した位置の項目を取り出す
- 項目数を調べる
- 項目を追加したり削除する

## Lists
### Length

We can count the number of entries in any list with len(), which is short for "length".
You need only supply the name of the list in the parentheses.

訳）len()("length"の略)を用いて、リストに含まれる要素数を数えることができます。
括弧の中にそのリストの名前を指定します。

In [5]:
# The list has ten entries
print(len(flowers_list))

10

### Indexing

We can refer to any item in the list according to its position in the list (first, second, third, etc).
This is called indexing.
Note that Python use zero-based indexing, which means that:
- to pull the first entry in the list, you use 0,
- to pull the second entry in the list, you use 1, and
- to pull the final entry in the list, you use one less than the length of the list.

訳）リスト内の各項目は、その位置（1番目、2番目、3番目など）を指定して参照することができます。
これをインデックス参照と呼びます。
Pythonでは0から始まるインデックスを使用します。つまり
- リスト内の1番目の値を取り出すには、0を指定します
- リスト内の2番目の値を取り出すには、1を指定します
- リスト内の最後の値を取り出すには、リストの長さから1を引いた値を指定します

In [6]:
print("First entry:", flowers_list[0])
print("Second entry:", flowers_list[1])

# The list has length ten, so we refer to final entry with 9
print("Last entry:", flowers_list[9])

First entry: pink_primrose
Second entry: hard-leaved pocket orchid
Last entry: globe thistle

Side Note: You may have noticed that in the code cell above, we use a single print() to print multiple items
 (both a Python string (like "First entry:") and a value from the list (like flowers_list[0])).
 To print multiple things in Python with a single command, we need only separate them with a comma.

 訳)補足：上のコードセルで、print()を1回使用して複数の項目を出力していることに気づいたかもしれません。
 (例えば、"First entry:"のようなPyhonの文字列と"flowers_list[0]"のようなリストの値です。)
 Pythonでは、1つのprint()文で複数の項目を出力するには、各項目をコンマで区切るだけで実現できます。

### Slicing

You can also pull a segment of a list (for instance, the first three entries or the last two entries).
This is called slicing.
For instance:
- to pull the x entries, you use [:x], and
- to pull the y entries, you use [-y:].

訳）リストの一部分（最初の3つの要素もしくは後ろの2つの要素）をまとめて取り出すことができます。
これをスライシングと呼びます。
例えば、
- 先頭からx個の要素を取り出すには、[:x]を使います。
- 末尾からy個の要素を取り出すには、[-y:]を使います。

In [7]:
print("First three entries:", flowers_list[:3])
print("Final two entries:", flowers_list[-2:])

First three entries: ['pink_primrose', 'hard-leaved pocket orchid', 'canterbury bells']
Final two entries: ['monkshood', 'globe thistle']

As you can see above, when we slice a list, it returns a new, shortened list.

訳）上の見るように、リストをスライスすることで、短いリストが新しく作られ返されます。

### Removing items

Remove an items from a list with .remove() and put the items you would like to remove in parenthese.

訳）.remove()でリストから値を削除し、括弧の中に削除したい値を指定します。

In [8]:
flowers_list.remove("globe thistle")
print(flowers_list)

['pink_primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood']

### Adding items

Add an items to a list with .append(), and put the item you would like to add in parenthese.

訳）.append()でリストから値を追加し、括弧の中に追加したい値を指定します。

In [9]:
flowers_list.append("snapdragon")
print(flowers_list)

['pink_primrose', 'hard-leaved pocket orchid', 'canterbury bells', 'sweet pea', 'english marigold', 'tiger lily', 'moon orchid', 'bird of paradise', 'monkshood', 'snapdragon']

### Lists are not just for strings

So far, we have only worked with lists where each item in the list is a string.
But lists can have items with any data type, including booleans, integers, and floats.

As an example, consider hardcover book sales in the first week of April 2000 in a retail store.

訳）これまでは、リストの各要素が文字列である場合のみを扱ってきました。
しかし、リストには真偽値や整数、浮動小数点数など、あらゆるデータ型の要素を扱うことができます。

例として、2000年4月1週目における、ある小売店ハードカバー本の売上を考えてみましょう。

In [11]:
hardcover_sales = [139, 128, 172, 139, 191, 168, 170]

Here, hardcover_sales is a list of integers.
Similar to when working with strings, you can still do things like get the length, pull individual entries, and extend the list.

訳）ここで、hardcover_salesは整数のリストです。
文字列を扱う場合と同様に、リストの長さを取得したり、個々の要素を取り出したり、リストを拡張したりすることができます。

In [12]:
print("Length of the list:", len(hardcover_sales))
print("Entry at index 2:", hardcover_sales)

Length of the list: 7
Entry at index 2: [139, 128, 172, 139, 191, 168, 170]

You can also get the minimum with min() and the maximum with max().

In [13]:
print("Minmun:", min(hardcover_sales))
print("Maximum:", max(hardcover_sales))

Minmun: 128
Maximum: 191

To add every item in the list, use sum()

In [14]:
print("Total books sold in one week:", sum(hardcover_sales))

Total books sold in one week: 1107

We can also do similar calculations with slices of the list.
In the next code cell, we take the sum from the first five days (sum(hardcover_sales[:5])), and then divide by five to get the average number of books sold in the first five days.

In [16]:
print("Average books sold in first five days:", sum(hardcover_sales[:5])/5)

Average books sold in first five days: 153.8